{% load static %}
{% if QUILL_CUSTOM_JS %}
      {% for js in QUILL_CUSTOM_JS %}
            <script src="{% static js %}"></script>
      {% endfor %}
{% else %}
      <!-- highlight.js -->
      <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/darcula.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
      <!-- Quill.js -->
      <link href="//cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet" />
      <script src="//cdn.quilljs.com/1.3.7/quill.min.js"></script>
      <!-- quill-image-compress -->
      <script src="https://cdn.jsdelivr.net/npm/quill-image-compress@1.2.21/dist/quill.imageCompressor.min.js"></script>
      <!-- quill-resize -->
      <script src="https://cdn.jsdelivr.net/npm/@botom/quill-resize-module@2.0.0/dist/quill-resize-module.min.js"></script>
{% endif %}
{% if QUILL_CUSTOM_CSS %}
      {% for css in QUILL_CUSTOM_CSS %}
            <link rel="stylesheet" href="{% static css %}" />
      {% endfor %}
{% else %}
      <!-- highlight.js -->
      <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/darcula.min.css" />
      <!-- Quill.js -->
      <link href="//cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet" />
      <!-- quill-resize -->
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/quill-resize-module@1.2.4/dist/resize.min.css" />
{% endif %}
<!-- Custom -->
<link rel="stylesheet" href="{% static 'django_quill/django_quill.css' %}" />
<script src="{% static 'django_quill/django_quill.js' %}"></script>
